#root {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-size: 1.5rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 4rem;
  display: flex;
  display: block;
  gap: 2rem;
}

nav > a {
  gap: 2rem;
}
